<div class="container">
    <div class="card">
        <h5 class="card-header">Libre</h5>
        <div class="card-body">
          <h5 class="card-title"> <span>$0</span>/mes </h5>
          <p class="card-text">10 usuarios incluidos</p>
          <p class="card-text">2 GB de almacenamiento</p>
          <p class="card-text">Soporte de correo electronico</p>
          <p class="card-text">Acceso al centro de ayuda</p>
          <a href="#" class="btn btn-outline-primary">Registrate gratis</a>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">Pro</h5>
        <div class="card-body">
          <h5 class="card-title"> <span>$15</span>/mes </h5>
          <p class="card-text">20 usuarios incluidos</p>
          <p class="card-text">10 GB de almacenamiento</p>
          <p class="card-text">Soporte prioritario por correo electronico</p>
          <p class="card-text">Acceso al centro de ayuda</p>
          <a href="#" class="btn btn-primary">Empezar</a>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">Empresa</h5>
        <div class="card-body">
          <h5 class="card-title"> <span>$29</span>/mes </h5>
          <p class="card-text">30 usuarios incluidos</p>
          <p class="card-text">15 GB de almacenamiento</p>
          <p class="card-text">Soporte telefonico y por correo electronico</p>
          <p class="card-text">Acceso al centro de ayuda</p>
          <a href="#" class="btn btn-primary">Contactenos</a>
        </div>
    </div>
</div>



