.container{
    display: flex;
    margin: 0 auto;
}

.card{
    margin: 20px 50px;
    width: 700px;
    text-align: center;
}

.card-header{
    font-weight: 600;
}

.card .card-title{
    color: grey;
}

.card span{
    font-weight: 700;
    font-size: 35px;
    color: black;
}

.card-text{
    padding:  0;
    margin: 2px 0;
}

.btn{
    margin-top: 10px;
    width: 100%;
}